<nav class="top" th:fragment="html">
    <div class="top_middle">
        <a th:href="home">
            <span class=" glyphicon glyphicon-home redColor" style="color:#C40000;margin:0px"></span>
            天猫首页
        </a>

        <span>喵，欢迎来天猫</span>

        <span th:if="${null!=session.user}">
        <a href="login" th:text="${session.user.name}"></a>
        <a href="forelogout">退出</a>
        </span>

        <span th:if="${null==session.user}">
        <a href="login">请登录</a>
        <a href="register">免费注册</a>
        </span>

        <span class="pull-right">
            <a href="bought">我的订单</a>
            <a href="cart">
            <span class=" glyphicon glyphicon-shopping-cart redColor" style="color:#C40000;margin:0px"></span>
            购物车<strong id="cartTotalItemNumber" th:text="${session.cartTotalItemNumber}"></strong>件</a>
        </span>
    </div>
</nav>